<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Page</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- this is the link of socket.io for the frontend -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="form-box">
    <h1>Login Page</h1>
    <form action="" method="POST">

        <input 
            class="input-box"
            type="email"
            placeholder="Enter Email"
            name="email"
            required
        >
        <br><br>
        <input 
            class="input-box"
            type="password"
            placeholder="Enter Password"
            name="password"
            required
        >
        <br><br>
        <input 
            class="input-button"
            type="submit"
            value="Login"
        >
        <% 
             if(typeof message !== 'undefined'){
        %>
            <h3 class="error"><%= message %></h3>
        <%
              }
        %>
    </form>
    <p class="new-one-register" onclick={handleOnCkick()}>Create New One</p>
</div>

<script>

    function handleOnCkick () {
        window.location.replace("http://127.0.0.1:5002/register")
    }

</script>

</body>
</html>